* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register {
    background-color: rgb(210, 211, 211);
    width: 100%;
padding-bottom: 6vh;
}

.registerTitle {
    font-size: 40px;
}

.inputsRegister {
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(241, 231, 231);
    max-width: 600px;
}

.registerName {
    width: 250px;
    margin-bottom: 12px;
}

.registerSurname {
    width: 250px;
    margin-bottom: 12px;
}

.registerCity {
    width: 250px;
    margin-bottom: 12px;
}

.registerEmail {
    width: 250px;
    margin-bottom: 12px;
}

.registerPassword {
    width: 250px;
    margin-bottom: 12px;
}

.registerButtons {
    margin-top: 2vh;
    width: 100%;
}

@media only screen and (max-width:767px) {

    .register {
        padding-bottom: 10px;
    }

    .registerTitle {
        font-size: 20px;
    }

    .inputsRegister {
        margin-top: 10px;
    }

    .registerButtons {
        margin-top: 3vh;
    }
}