* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 6px;
    text-align: center;
    padding: 5px;
    box-shadow: 5px 5px 5px gray;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width:767px) {
    .message {
        background-color: white;
        border: 1px solid black;
        border-radius: 4px;
        text-align: center;
        padding: 2px;
        box-shadow: 2px 2px 3px gray;
        margin: 10px;
    }
}