.event {
    background-color: rgb(210, 211, 211);
    width: auto;
    height: auto;
}

.eventTitle {
    margin-top: 1vh;
    font-size: 40px;
}

.centerEvent {
    padding: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tablaEvent {
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 310px;
    padding: 10px;
    margin-top: 100px;
}

.reqEvent {
    font-size: 20px;
}

.resEvent {
    font-size: 20px;
}

.eventButtons {
    margin: 2vh;
    width: 100%;
}




@media only screen and (max-width:767px) {
    .event {
        margin-top: 2px;
    }

    .eventTitle {
        margin-top: 10px;
        font-size: 30px;
    }


    .tablaEvent {
        border: 1px solid black;
        box-shadow: 5px 5px 5px black;
        border-radius: 5px;
        width: 300px;
        max-height: 190px;
        padding: 10px;
        margin-top: 80px;
    }

    .reqEvent {
        font-size: 16px;
    }

    .resEvent {
        font-size: 14px;
    }

    .eventButtons {
        margin-top: 10vh;

    }


}