* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.index {
    background-color: rgb(210, 211, 211);
}

.home {
    padding: 40px;
    height: auto;
}

.titulo {
    text-align: center;
}

.eventsIndex {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carruselIndex {
    max-width: 1000px;
}

@media only screen and (max-width:767px) {
    .index {
        margin-top: 10px
    }

    .home {
        padding: 5px;
    }

    .eventsIndex {
        width: 370px;
    }

    .carruselIndex {
        max-width: auto;
        margin-bottom: 50px;
    }
}