.header{
    width: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 1vh;
}

.welcomeHeader{
    display: flex;
    justify-content: center;
}

.titleHead{
    font-size: 40px;
    
}
.menu{
display: flex;
justify-content: flex-end;

}

.p{
    font-size: 14px;
    margin: 0px;
}

@media only screen and (max-width:767px) {

    .titleHead{
        font-size: 20px;
    }

    .welcomeHeader{
        display: flex;
        flex-direction: column;
    }

    .p{
        font-size: 10px;
        
        
    }
    
}