.files {
    background-color: rgb(210, 211, 211);
}

.filesTitle {
    margin-top: 1vh;
    font-size: 40px;
    
}

.home{
    padding: 3vh;
    height: auto;
}

.filesTable{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filesButtons {
    margin-top: 5vh;
    width: 100%;
}

@media only screen and (max-width:767px) {
    .files {
        margin-top: 2px;
    }

    .filesTitle {

        font-size: 25px;
        margin-top: 5px;
    }

    .filesTable{
        margin-top: 80px;
    }

    .centerFiles{
        padding: 5px;
    }

    .filesButtons {
        margin-top: 19vh;
    }

}