* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reserve {
    background-color: rgb(210, 211, 211);
}

.centerReserve{
    padding: 10px;
}

.reserveTitle {
    margin-top: 70px;
    font-size: 40px;
}

.tablaReserve {
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    background-color: white;
    margin-top: 200px;
}

.headReserve {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.bodyReserve {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.reserveButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 33vh;
    width: 100%;
}

@media only screen and (max-width:767px) {

    .centerReserve{
        padding: 5px;
    }

    .reserveTitle {
        margin-top: 70px;
        font-size: 30px;
    }

    .tablaReserve {
        width: 300px;
        margin-top: 150px;
    }

    .headReserve {
        font-size: 20px;
    }

    .bodyReserve {
        font-size: 16px;

    }

    .reserveButtons {
        margin-top: 24vh;
    }
}